# Database
DB_URL=jdbc:postgresql://postgres:5432/bnc
DB_USERNAME=
DB_PASSWORD=

# File Upload Paths
FILE_ROOT_PATH=/app/resources
FILE_DOWNLOAD_PATH=/app

# Naver OAuth
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=http://<EC2-IP>/auth/naverLogin

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=http://<EC2-IP>/auth/kakaoLogin
