<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnc.mapper.ChartMapper">
	<select id="readProjFlag" resultType="com.bnc.domain.ChartVO">
		select
			count(CASE WHEN p.proj_flag = 'W' THEN 1 END) as proj_flag_w,
			count(CASE WHEN p.proj_flag = 'C' THEN 1 END) as proj_flag_C,
			count(CASE WHEN p.proj_flag = 'P' THEN 1 END) as proj_flag_P,
			count(CASE WHEN p.proj_flag = 'E' THEN 1 END) as proj_flag_E
		from bnc_project p
	</select>

	<select id="readForMonthMember" resultType="com.bnc.domain.ChartVO">
		SELECT rdate as memb_rdate, COALESCE(cnt, 0) cnt FROM (
			SELECT TO_CHAR(s, 'YYYYMM') AS rdate
			FROM generate_series(
				TO_DATE(#{criteriaMonth}, 'YYYYMM'),
				TO_DATE(#{curMonth}, 'YYYYMM'),
				INTERVAL '1 month'
			) s
		) dt
		LEFT JOIN (
			SELECT SUBSTR(memb_rdate,1,6) as mrdate, COUNT(*) as cnt FROM bnc_member
			WHERE memb_rdate &gt;= #{criteriaMonth}
			GROUP BY SUBSTR(memb_rdate,1,6)
		) mc
		ON dt.rdate = mc.mrdate
		ORDER BY rdate DESC
	</select>

	<select id="topReqCompanyRead" resultType="com.bnc.domain.ChartVO">
		SELECT p.proj_req_biznum, cm.cmpy_company_name, count(*) as cnt, sum(ct.cntr_price) as totalPrice
		FROM bnc_project p, bnc_contract ct, bnc_company cm
		WHERE proj_flag = 'E'
		  AND p.proj_req_biznum IS NOT NULL
		  AND p.proj_number = ct.cntr_proj_number
		  AND p.proj_req_biznum = cm.cmpy_biznum
		GROUP BY p.proj_req_biznum, cm.cmpy_company_name
		ORDER BY count(*) DESC
		LIMIT 1
	</select>

	<select id="topAcpCompanyRead" resultType="com.bnc.domain.ChartVO">
		SELECT p.proj_acp_biznum, cm.cmpy_company_name, count(p.proj_number) as cnt, sum(ct.cntr_price) as totalPrice
		FROM bnc_project p, bnc_contract ct, bnc_company cm
		WHERE proj_flag = 'E'
		  AND proj_acp_biznum IS NOT NULL
		  AND p.proj_number = ct.cntr_proj_number
		  AND p.proj_acp_biznum = cm.cmpy_biznum
		GROUP BY p.proj_acp_biznum, cm.cmpy_company_name
		ORDER BY count(*) DESC
		LIMIT 1
	</select>

	<select id="endProjectAvgPrice" resultType="int">
		<![CDATA[
		select round(avg(c.cntr_price)) as avg from bnc_contract c, bnc_project p
			where p.proj_flag = 'E' and c.cntr_proj_number = p.proj_number
		]]>
	</select>

	<select id="projectKindCount" resultType="int">
		select count(proj_kind) as cnt
			from bnc_project
			where proj_kind = #{proj_kind}
	</select>

	<select id="totalMemberCount" resultType="int">
		<![CDATA[
		select count(*) as cnt from bnc_member
		]]>
	</select>

	<select id="totalCompanyCount" resultType="int">
		<![CDATA[
		select count(*) as cnt from bnc_company
		]]>
	</select>

	<select id="topProjectPriceInfo" resultType="com.bnc.domain.ChartVO">
		SELECT p.proj_number, p.proj_name, p.proj_req_biznum, p.proj_acp_biznum, c.cntr_price
		FROM bnc_project p, bnc_contract c
		WHERE p.proj_number = c.cntr_proj_number AND cntr_flag = 'Y'
		ORDER BY c.cntr_price DESC
		LIMIT 1
	</select>

	<select id="endProjectPriceTotal" resultType="int">
		<![CDATA[
		select sum(cntr_price) total
			from bnc_project p, bnc_contract c
			where p.proj_number = c.cntr_proj_number and c.cntr_flag = 'Y'
		]]>
	</select>
</mapper>
