<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnc.mapper.NoticeMapper">

	<!-- Notice List Count -->
	<select id="selectNoticeListCount" resultType="int">
		<![CDATA[
		SELECT count(*) FROM bnc_notice
		]]>
			<choose>
	         <when test="searchType != null and searchType !='' ">
	         WHERE bnc_notice.${searchType} like '%'||#{searchKeyword}||'%'
	         </when>
	      </choose>
	</select>


	<!-- Notice List -->
	<select id="selectNoticeList" resultType="com.bnc.domain.NoticeVO">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER(ORDER BY notc_number DESC) AS rnum, list.* FROM (
				SELECT * FROM bnc_notice notice
				<choose>
					<when test="searchType != null and searchType !='' ">
					WHERE notice.${searchType} like '%'||#{searchKeyword}||'%'
					</when>
				</choose>
				ORDER BY notc_number DESC
			) list
		) sub
		<![CDATA[WHERE rnum > #{startRowNumber} AND rnum <= #{endRowNumber}]]>
	</select>


	<!-- Notice View -->
	<select id="read" resultType="com.bnc.domain.NoticeVO">
		SELECT * FROM bnc_notice WHERE notc_number = #{notc_number}
	</select>


	<!-- Notice write -->
	<insert id="write">
		insert into bnc_notice (
				notc_number,
				notc_admin_id,
				notc_title,
				notc_rdate,
				notc_udate,
				notc_contents
				)
				values(
				nextval('bnc_notice_seq'),
				#{notc_admin_id},
				#{notc_title},
				TO_CHAR(NOW(), 'YYYYMMDDHH24MISS'),
				TO_CHAR(NOW(), 'YYYYMMDDHH24MISS'),
				#{notc_contents}
				)
	</insert>


	<!-- Notice modify -->
	<update id="modify">
		update bnc_notice set
			notc_title = #{notc_title},
			notc_udate = TO_CHAR(NOW(), 'YYYYMMDDHH24MISS'),
			notc_contents = #{notc_contents}
			WHERE notc_number = #{notc_number}
	</update>


	<!-- Notice Delete -->
	<delete id="delete">
		DELETE FROM bnc_notice WHERE notc_number = #{notc_number}
	</delete>
</mapper>
